### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [590]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

* Display the total number of players

In [591]:
# Show the first 5 rows of the data for helpful context in this exercise
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [592]:
# Count the number of unique elements (i.e. players) in the 'SN' column and print the result
player_count = purchase_data['SN'].nunique()
print("Player Count =",player_count)

Player Count = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [593]:
# Calculate the average age of the players
avg_age_long = purchase_data["Age"].mean()
avg_age = avg_age_long.round(1)

In [594]:
# Calculate the # of unique items based on the # unique Item IDs
unique_items = purchase_data["Item ID"].nunique()

In [595]:
# Calculate the average price
avg_price = purchase_data["Price"].mean()
# Reformat avg_price from float to a string with $ symbol and 2 decimal places
avg_price = '${:.2f}'.format(avg_price)

In [596]:
# Calculate the # of purchases made
tot_items = purchase_data["Purchase ID"].count()

In [597]:
# Calculate the total revenue (sum of all prices paid...assumes each quantity of 1 for each purchase)
tot_rev = purchase_data['Price'].sum()
# Reformat avg_price from float to a string with $ symbol and 2 decimal places
tot_rev = '${:,.2f}'.format(tot_rev)

In [598]:
# Create a Summary dataframe and insert results
data = {'Unique Items':[unique_items],'Avg Price':[avg_price],'Tot # Purchases':[tot_items],'Tot Rev':[tot_rev]}
summary = pd.DataFrame(data)
summary

   Unique Items Avg Price  Tot # Purchases    Tot Rev
0           183     $3.05              780  $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [599]:
# Create a new dataframe that filters only unique players...(i.e. total players is on 576 not 780)
unique_players_df = purchase_data.drop_duplicates(subset='SN')

In [600]:
# Then do Gender demographics on this to get % of players by gender

# Calculate the number of Males, Females and Other/Non-Disclosed players
gender_count_series = unique_players_df['Gender'].value_counts()

# Calculate the percent of each gender type by dividing by the total player count
gender_percent_series = (unique_players_df['Gender'].value_counts() / player_count)

In [601]:
# Construct a summary table (dataframe) by combining the (2) series:  gender_count and gender_percent
gender_table_df = pd.DataFrame({'Gender Count':gender_count_series,'% of Total':gender_percent_series})

#Convert format of gender_percent series to string percent for table display
gender_table_df['% of Total'] = gender_table_df['% of Total'].astype(float).map('{:.2%}'.format)
gender_table_df

                       Gender Count % of Total
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [602]:
# Group the original dataframe by gender

purchase_data_gender_group = purchase_data.groupby(['Gender'])

In [603]:
# Obtain Purchase Count by Gender
purchase_count_gender_series = purchase_data_gender_group['Purchase ID'].count()

In [604]:
# Calculate Total Purchase Value by Gender
purchase_price_total_gender_series = purchase_data_gender_group['Price'].sum()

In [605]:
# Calculate Average Purchase Price
avg_purchase_price_gender_series = purchase_price_total_gender_series / purchase_count_gender_series

In [606]:
# Calculate Normalized Totals = (Tot Purchase Value)/(Purchase Count by gender)
norm_gender_total_series = purchase_price_total_gender_series / purchase_count_gender_series

In [607]:
# Construct a summary table (dataframe) by combining the (2) series:  gender_count and gender_percent
gender_purch_table_df = pd.DataFrame({'Purchase Count':purchase_count_gender_series,
                                      'Avg Purch Price':avg_purchase_price_gender_series,
                                     'Total Purch Value':purchase_price_total_gender_series,
                                     'Normalized Totals':norm_gender_total_series})

#Convert format of Avg Purch Price series to $ value for table display
gender_purch_table_df['Avg Purch Price'] = gender_purch_table_df['Avg Purch Price'].astype(float).map('${:.2f}'.format)

#Convert format of Total Purch Value series to $ value for table display
gender_purch_table_df['Total Purch Value'] = gender_purch_table_df['Total Purch Value'].astype(float).map('${:.2f}'.format)

#Convert format of Normalized Totals to $ value for table display
gender_purch_table_df['Normalized Totals'] = gender_purch_table_df['Normalized Totals'].astype(float).map('${:.2f}'.format)


gender_purch_table_df

,Purchase Count,Avg Purch Price,Total Purch Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [608]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [609]:
# Take unique_players_df dataframe and add the Age Bin column with the bins for ages 
unique_players_df['Age Bin'] = pd.cut(unique_players_df['Age'], age_bins, labels=group_names)
unique_players_df.head()

C:\ProgramData\Anaconda3\envs\pythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

# Note:  I used 2 separate approaches to creating these Age Demographics

    # Method 1 --> use groupby to convert the player_bin_count_group to a df, then manipulate & calculate

In [610]:
# Create a group from the bin, 'Age Bin'
player_bin_count_group = unique_players_df.groupby('Age Bin')

In [611]:
# Converting a GroupBy object into a DataFrame
age_demo_table2_df = pd.DataFrame(player_bin_count_group['Age'].count())

# Rename 'Age' column to 'Total Count'...the count method used above just counts the number of elements, so not reflecting Age
age_demo_table2_df.rename(columns={'Age': 'Total Count'}, inplace=True)


# Calculate the Percentage of Players in each bin as a percent of total player count
age_demo_table2_df['% of Players'] = age_demo_table2_df['Total Count']/player_count

#Convert format of % of players to % for table display
age_demo_table2_df['% of Players'] = age_demo_table2_df['% of Players'].astype(float).map('{:.2%}'.format)

age_demo_table2_df

         Total Count % of Players
Age Bin
<10               17        2.95%
10-14             22        3.82%
15-19            107       18.58%
20-24            258       44.79%
25-29             77       13.37%
30-34             52        9.03%
35-39             31        5.38%
40+               12        2.08%

    # Method 2 --> manipulate the new unique_players_df (with the added bin column 'Age Bin') for the results;
    # the only issue with this method is that the resulting table is sorted based on % Players from high to low and not
    # the bin group labels...

In [612]:
# Calculate the # players in each bin

player_bin_count_series = unique_players_df['Age Bin'].value_counts()

# Calculate the percentage each bin represents of the total player count
player_bin_percent_series = (unique_players_df['Age Bin'].value_counts() / player_count)

In [613]:
# Construct a summary table (dataframe) by combining the (2) series:  player_bin_count and player_bin_percent
age_demo_table_df = pd.DataFrame({'% of Players':player_bin_percent_series,
                                      'Tot Player Count':player_bin_count_series})

#Convert format of player_bin_percent series to % for table display
age_demo_table_df['% of Players'] = age_demo_table_df['% of Players'].astype(float).map('{:.2%}'.format)

print(age_demo_table_df)

      % of Players  Tot Player Count
20-24       44.79%               258
15-19       18.58%               107
25-29       13.37%                77
30-34        9.03%                52
35-39        5.38%                31
10-14        3.82%                22
<10          2.95%                17
40+          2.08%                12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [614]:
# Bin the purchase_data data frame by age

purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [615]:
# Create a group from the bin, 'Age Bin'
purchase_bin_count_group = purchase_data.groupby('Age Bin')

# Extract a series from the group for each of Purchase Count and Purchase Value by the age bins
purchase_count_series = purchase_bin_count_group['Age'].count()

purchase_count_series

# Extract a series from the group for each of Purchase Count and Purchase Value by the age bins
purchase_value_tot_series = purchase_bin_count_group['Price'].sum()

In [616]:
# Calculate Avg Purchase Price
avg_purch_price_series = purchase_value_tot_series / purchase_count_series

In [617]:
# Calculate Normalized Totals
norm_purch_totals_series = purchase_value_tot_series / purchase_count_series

In [618]:
# Concatenate the four series (Purchase Count, Avg Purch Price, Tot Purchase Value & Norm. Totals) into a single new dataframe

purchase_analysis_table_df = pd.concat([purchase_count_series, avg_purch_price_series, purchase_value_tot_series,
                                       norm_purch_totals_series],axis=1)

# Rename 'Age' column to 'Purchase Count'; 'Price' to 'Total Purchase Value'
purchase_analysis_table_df.rename(columns={'Age': 'Purchase Count',
                                           0:'Avg Purch Price',
                                           'Price':'Total Purchase Value',
                                          1:'Normalized Totals'}, inplace=True)

#Convert format of Total Purchase Value to $ value for table display
purchase_analysis_table_df['Avg Purch Price'] = purchase_analysis_table_df['Avg Purch Price'].astype(float).map('${:.2f}'.format)

purchase_analysis_table_df['Total Purchase Value'] = purchase_analysis_table_df['Total Purchase Value'].astype(float).map('${:.2f}'.format)

purchase_analysis_table_df['Normalized Totals'] = purchase_analysis_table_df['Normalized Totals'].astype(float).map('${:.2f}'.format)

purchase_analysis_table_df

         Purchase Count Avg Purch Price Total Purchase Value Normalized Totals
Age Bin
<10                  23           $3.35               $77.13             $3.35
10-14                28           $2.96               $82.78             $2.96
15-19               136           $3.04              $412.89             $3.04
20-24               365           $3.05             $1114.06             $3.05
25-29               101           $2.90              $293.00             $2.90
30-34                73           $2.93              $214.00             $2.93
35-39                41           $3.60              $147.67             $3.60
40+                  13           $2.94               $38.24             $2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [620]:
# Take the purchase_data dataframe ('purchase_data') and groupby 'SN'

top_spenders_group = purchase_data.groupby('SN')

# Extract a series (sorted from highest to lowest) from the group showing Total Purchase Value by each player

top_spenders_tot_purch_series = top_spenders_group['Price'].sum().sort_values(ascending=False)

top_spenders_tot_count_series = top_spenders_group['Purchase ID'].count()

# Calculate the Avg Purchase Price for the top spenders
avg_purch_price_top_spenders_series = top_spenders_tot_purch_series / top_spenders_tot_count_series

In [621]:
# Construct a summary table (dataframe) by combining the (3) series:

# Concatenate the 3 series (Purchase Count, Avg Purch Price, Tot Purchase Value) into a single new dataframe

top_spenders_table_df = pd.concat([top_spenders_tot_count_series,avg_purch_price_top_spenders_series,
                                   top_spenders_tot_purch_series],axis=1,sort=False)

# Rename 'Age' column to 'Purchase Count'; 'Price' to 'Total Purchase Value'
top_spenders_table_df.rename(columns={'Purchase ID': 'Purchase Count',0:'Avg Purchase Price',
                                      'Price':'Total Purch Value'}, inplace=True)

#Convert format of Avg Purch Price and Total Purch Value to $ value for table display
top_spenders_table_df['Avg Purchase Price'] = top_spenders_table_df['Avg Purchase Price'].astype(float).map('${:.2f}'.format)

top_spenders_table_df.sort_values(by='Total Purch Value',ascending=False).head()

             Purchase Count Avg Purchase Price  Total Purch Value
Lisosia93                 5              $3.79              18.96
Idastidru52               4              $3.86              15.45
Chamjask73                3              $4.61              13.83
Iral74                    4              $3.40              13.62
Iskadarya95               3              $4.37              13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [622]:
# Create a new group with the required item columns

pop_items_group = purchase_data.groupby(['Item ID','Item Name'])

# Extract a series from the group for each of Purchase Count and Total Purchase Value
pi_purchase_count_series = pop_items_group['Item ID'].count()
pi_purchase_count_series.sort_values(ascending=False).head()

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
145      Fiery Glass Crusader                             9
92       Final Critic                                     8
Name: Item ID, dtype: int64

In [623]:
# Extract a series from the group for each of Purchase Count and Total Purchase Value
pi_purchase_value_series = pop_items_group['Price'].sum()
pi_purchase_value_series.sort_values(ascending=False).head()

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
92       Final Critic                                    39.04
103      Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [624]:
# Create the 'new' series Item Price (had to re-create to get this inot the summary table below...for some reason)
pi_item_price_series = pi_purchase_value_series / pi_purchase_count_series

In [625]:
# Construct a summary table (dataframe) by combining the (2) series:

# Concatenate the 2 series (Purchase Count, Item Price,  Purchase Value) into a single new dataframe

pi_summary_table_df = pd.concat([pi_purchase_count_series, pi_item_price_series, pi_purchase_value_series],axis=1,sort=False)

# Rename 'Item ID' column to 'Purchase Count'; 'Price' to 'Total Purchase Value'
pi_summary_table_df.rename(columns={'Item ID': 'Purchase Count',0:'Item Price','Price': 'Total Purchase Value'}, inplace=True)

#Convert format of Item Price and Total Purch Value to $ value for table display
pi_summary_table_df['Item Price'] = pi_summary_table_df['Item Price'].astype(float).map('${:.2f}'.format)
pi_summary_table_df['Total Purchase Value'] = pi_summary_table_df['Total Purchase Value'].astype(float).map('${:.2f}'.format)


pi_summary_table_df.sort_values(by='Purchase Count',ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

# I believe this 'Most Profitable Items' is a type...it just repeats the previous section, so...I think I'm done!